{% extends 'base.html.twig' %}

{% block title %}Edit Ruta{% endblock %}

{% block body %}
    <div class="administration">
        <h1>Edit Ruta</h1>

        {{ include('ruta/_form.html.twig', {'button_label': 'Update'}) }}

        
        
    </div>
{% endblock %}
