{% extends 'base.html.twig' %}

{% block title %}New Ruta{% endblock %}

{% block body %}
    <div class="administration">
        <h1>Create new Ruta</h1>

        {{ include('ruta/_form.html.twig') }}
    </div>
     
{% endblock %}
